services:
  app:
    image: ghcr.io/jonasneustock/hass-power-classifier:latest
    ports:
      - "8000:8000"
    environment:
      - HA_BASE_URL=http://192.168.2.225:8123
      - HA_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI1MWNjMTQ5NGFmZGI0YjdjYmMyYWIwMmUxMDk0NDZiYiIsImlhdCI6MTc2NjMxNjEzNCwiZXhwIjoyMDgxNjc2MTM0fQ.uOLyT72tlJXx5cW-muVDzn9aZrTJgMu0WzlM7k00dG8
      - HA_POWER_SENSOR_ENTITY=sensor.sum_of_watts
      - POLL_INTERVAL_SECONDS=5
      - SEGMENT_WINDOW_SECONDS=30
      - CHANGE_THRESHOLD_WATTS=50
      - MIN_LABELS_PER_APPLIANCE=5
      - STATUS_TTL_SECONDS=300
      - APP_TITLE=HA Power Classifier
      - DATA_DIR=/data
    volumes:
      - ha_power_classifier_data:/data
volumes:
  ha_power_classifier_data:
